# Created by venv; see https://docs.python.org/3/library/venv.html
# Virtual environment
venv/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# System files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Model and data backups

*.sav
*.h5
*.pkl

# Large or local data files (optional)
data/creditcard.csv

# Streamlit logs
.streamlit/

# VS Code / IDE
.vscode/
.idea/

